.header{
    display: flex;
    flex-direction: column;
}

.header a{
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: bold;
    width: 50%;
}

.header__img{
    width: 200px;
    border-radius: 100%;
    border: solid 2px gray;
}

.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.header__contact a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.name__contact{
   font-size: 20px;
   margin-top: 5px;
}

.header__presentation{
    display: flex;
    flex-direction: column;
}

.header__description{
    font-size: 15px;
    font-weight: bold;
}



@media screen and (max-width: 768px) {
    .header__img{
        width: 30%;
    }

    .header__contact{
        width: 50%;
    }

    .header a{
        font-size: 110%;
    }

    .name__contact{
        font-size: 50%;
    }

    .header__description{
        font-size: 50%;
    }

    

    .header__presentation{
        font-size: 60%;
    }
}