.header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.header a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
}

.header__img{
    width: 120px;
    margin: 25px;
    border-radius: 100%;
    border: solid 2px gray;
}
