.projetDetail {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: auto;
}


.projetDetail__image {
    width: 100%;
    height: auto;
    border-radius: 0.5%;
}

.projetDetail__title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.projetDetail__description {
    margin-top: 10px;
}