
.skills-container {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.skill-logo {
  height: 100px;
  width: 100px;
  transition: all 0.3s ease;
  border-radius: 50%;
  border: solid 2px gray;
  background-color: white;
}

/* Masquer les flèches et les points du carrousel */
.slick-prev,
.slick-next,
.slick-dots {
  display: none !important;
}

