.homepage{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 8%;
}

.homepage__header{
    flex: 0.25;
    
}

.homepage__skills{
    flex: 0.25;
    margin-top: 2%;
    margin-bottom: 2%;
}

.homepage__timeline{
    flex: 0.5;
}